.title {
  font-size: 49px;
  font-weight: bold;
  color: #131415;
  margin-bottom: 40px;
}

.breadcrumbs {
  margin-bottom: 28px;
}

.breadcrumbs__item {
  display: inline-block;
}

.breadcrumbs__item:after {
  content: '/';
}

.breadcrumbs__item:last-child:after{
  display: none;
}

.breadcrumbs__link {
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
  color: #f9960a;
}

.breadcrumbs__link_active {
  text-decoration: none;
  color: black;
}

.maincontent {
 width: 864px;
 float: right;
 margin-left: 78px; 
}