@font-face {
  font-family: 'opensans';
  src: url('../fonts/opensans-bold-webfont.woff2') format('woff2'), url('../fonts/opensans-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-size: 14px;
}

@font-face {
  font-family: 'opensans';
  src: url('../fonts/opensans-light-webfont.woff2') format('woff2'), url('../fonts/opensans-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
}

body {
  font-family: 'Roboto';
  color: #221f1f;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

.container {
  width: 1106px;
  margin: 0 auto;
}

.title {
  font-size: 49px;
  font-weight: bold;
  color: #131415;
  margin-bottom: 40px;
}

.breadcrumbs {
  margin-bottom: 28px;
}

.breadcrumbs__item {
  display: inline-block;
}

.breadcrumbs__item:after {
  content: '/';
}

.breadcrumbs__item:last-child:after{
  display: none;
}

.breadcrumbs__link {
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
  color: #f9960a;
}

.breadcrumbs__link_active {
  text-decoration: none;
  color: black;
}

.section {
 width: 864px;
 float: right;
 margin-left: 78px; 
}

.sidebar {
 width: 106px;
 float: right;
}
 

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.header {
  background: #2b2b2b;
  height: 76px;
  margin-bottom: 46px;
}


.footer__text, .socials__title, .socials__item, .contacts_phone, .contacts_desc {
  color: white;
}


.button{
  color: #f89513;
  border: none;
}

.contacts_phone {
  font-size: 21px;
  font-weight: bold;
  text-decoration-line: none;
}

.contacts_desc {
  font-size: 14px;
  font-weight: bold;
}

.service__item {
  width: 258px;
  display: inline-block;
  text-align: left;
  vertical-align: top;
  margin-bottom: 45px;
}

.service__avatar {
  width: 250px;
  height: 153px;
  text-align: left;
  margin-bottom: 30px;
}

.service__occ {
  font-size: 16px;
  font-weight: bold;
}

.service__content {
  font-size: 14px;
}

.nav__item {
  margin-bottom: 34px;
}

.nav__icon {
  width: 22px; 
  height: 19px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 17px;
}

.nav__text {
  font-size: 12px;
  color: #f9960a;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
}

.nav__link {
  text-decoration: none;
}

.nav__link:hover .nav__text {
  color: #0a0c0d;
}

.nav__link:hover .nav__icon_service {
   background-image: url('../img/service-icon.png');
}


.nav__icon_direction {
  background: url('../img/main-icon.png') center center no-repeat;
}

.nav__icon_service {
  background: url('../img/service-icon_orange.png') center center no-repeat;

}

.nav__icon_star {
  background: url('../img/feed-icon.png') center center no-repeat;
}

.footer {
  background: #2b2b2b;
  height: 77px;
}

.footer__col {
  float: left;
  width: 33.3%
}


.footer_logo {
  display: inline-block;
  
}

.footer__text {
  display: inline-block;
}

.socials__title {
  display: inline-block;
}