.footer__text, .socials__title, .socials__item, .contacts_phone, .contacts_desc {
  color: white;
}


.footer__col {
  float: left;
  width: 33.3%
 }

 .socials__item {
 	display: inline-block;
 }


.footer_wrapper {
display: flex;
justify-content: center;
align-items: center;
position: relative;
}



.socials{
text-align: right;
}

.footer__text {
	text-align: left;
}