.header {
  background: #2b2b2b;
  color: #fff;
  height: 76px;

}

.header__col {
  float: left;
  width: 50%;
}

.header__col_align_right {
  text-align: right;
  position: relative;
  top: 21px;
}

.contacts {
  display: inline-block;
  margin-right: -2px;
  margin-top: -7px;
}

.contacts__phone {
  font-size: 21px;
  font-weight: bold;
  text-decoration-line: none;
  color: white;
}


.logo_header {
  position: relative;
  left: 19px;
  top: 30px;
  margin-left: 20px;
}


.contacts__desc { 
  color: #f8960b;
  font-size: 14px;
  font-weight: bold;
  display: block;
  cursor: pointer;
  position: relative;
  color: #f8960b;
  margin-right: 1px;
  margin-top: -3px;

 }

.dropdown_button {
  border: none;
  background: none;
  text-decoration: underline;
  color: #f8960b;
  font-weight: bold;
  margin-right: 5px;
}

.dropdown_button:hover +.dropdown_menu {
  left: initial;
  opacity: 1;
  
 }

.dropdown_text {
  margin-top: 5px;
  text-align: left;
}

.dropdown_menu {
  z-index: 1;
  position: absolute;
  width: 153px;
  height: 55px;
  background: #f6f6f5;
  border-radius: 3px;
  box-shadow: (0 0 5px rgba(0,0,0,0,5));
  font-size: 14px;
  color: black;
  font-weight: normal;
  top: 100%;
  margin-top: 18px;
  left: -9999px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  padding: 10px;
  opacity: 0;
  margin-right: 20px;
  opacity: 0;
  transition-duration: 1s;
}

.dropdown_block {
  position: absolute;
  height: 36px;
  width: 123px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 17px;
  margin-left: -5px;
  margin-bottom: 5px;
  padding-top: 3px;
}

.triangle {
  width: 24px;
  height: 24px;
  border-radius: 5px;
  bottom: 100%;
  position: absolute;
  transform: rotate(45deg);
  margin-bottom: -15px;
  left: 85%;
  margin-left: -3px;
  background: #f6f6f5;
}


.dropdown_text_red {
  color: #f8960b;
  font-weight: bold;
}


