.header {
  background: #2b2b2b;
  color: #fff;
  height: 76px;

}

.header__col {
  float: left;
  width: 50%;
}

.header__col_align_right {
  text-align: right;
  position: relative;
  top: 21px;
}

.contacts {
  display: inline-block;
}

.contacts__phone {
  font-size: 21px;
  font-weight: bold;
  text-decoration-line: none;
  color: white;
}


.logo_header {
  position: relative;
  left: 19px;
  top: 30px;
}


.contacts__desc { 
  color: #f8960b;
  font-size: 14px;
  font-weight: bold;
  display: block;
  vertical-align: middle;
  cursor: pointer;
  position: relative;
  color: #f8960b;
 }

.dropdown_button {
  border: none;
  background: none;
  text-decoration: underline;
  color: #f8960b;
}

.dropdown_button:hover +.dropdown_menu {
  right: 0;
  left: initial;
  display: block;
  opacity: 1; 
 }

.dropdown_menu {
  z-index: 1;
  display: none;
  position: absolute;
  width: 163px;
  height: 68px;
  padding: 20px;
  background: #f6f6f5;
  border-radius: 5px;
  box-shadow: (0 0 5px rgba(0,0,0,0,5));
  font-size: 14px;
  color: black;
  font-weight: normal;
  top: 100%;
  margin-top: 10px;
  /*right: 0;*/
  left: -9999px;
  opacity: 0;
  transition: opacity 1s;
}

.dropdown_block {
  position: absolute;
  height: 36px;
  width: 123px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 17px;
}

.triangle {
  width: 24px;
  height: 24px;
  border-radius: 5px;
  bottom: 100%;
  position: absolute;
  transform: rotate(45deg);
  margin-bottom: -15px;
  left: 85%;
  margin-left: -3px;
  background: #f6f6f5;
}


.dropdown_text_red {
  color: #f8960b;
  font-weight: bold;
}


.dropdown_menu:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: 10px;
  border-top-width: 0px;
  border-bottom-color: white;
  filter: drop-shadow (0px -2px 1px rgba (0,0,0,0,2));
  position: absolute;
}