

.breadcrumbs {
  margin-bottom: 28px;

}

.breadcrumbs__item {
  display: inline-block;
  margin-top: -10px;
}

.breadcrumbs__item:after {
  content: '/';
}

.breadcrumbs__item:last-child:after{
  display: none;
}

.breadcrumbs__link {
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
  color: #f9960a;
}

.breadcrumbs__link_active {
  text-decoration: none;
  color: black;
  pointer-events: none;
  cursor: default;
}



.about {
  width: 879px;
  position: relative;
  top: -42px;
}

.about__overlay {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%
  height:100%;
  opacity: 0.851;
}


.weights__avatar_fitness {
  display: block;
  max-width: 100%;

}

article {
 float: right;
}

.about__title {
  position: absolute;
  color: white;
  left: 66px;
  font-weight: bold;
  font-size: 49px;
  top: 140px;
  letter-spacing: 3px;
}

.about__text {
  max-width: 100%;
  width: 694px;
  font-size: 18px;
  padding-top: 5px;
  line-height: 1.6;
}

.sport_list {
  list-style-type: disc;

  margin-left: 11px;
  line-height: 2;
}


.recktangle__block {
  display: block;
}

.recktangle__text {
  background: #131415;
  color: white;
  width: 638px;
  padding: 1px 30px;
  line-height: 1.8;
  margin-top: -21px;
  margin-bottom: -10px;
  font-size: 17px;
  word-spacing: 2px;
}


.comments-section {
 float: right;
 margin-left: 200px; 
 margin-top: -200px;
}


.about__title, .form__button_text {
  text-transform: uppercase;
}