.pagination {
  display: inline-block;
  margin-left: 419px;

}


.pagination a {
  color: black;
  float: left;
  padding: 8px 8px;
  text-decoration: none;

}

.pagination__title {
 color: #bebdbd;
}


.pagination__list {
 display: inline-flex;
vertical-align: middle;
}


.pagination__link {
  text-decoration: none;
  width: 28px;
  height: 28px;
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  color: black;
  transition: .3s;
  font-weight: bold;
}

.pagination__link:hover {
  color: #f89513;
  background-color: black;
  border-radius: 5px;
}


.pagination__btn_prev  {
  color: #bebdbd;
}

.pagination__btn {
  font-size: 16px;
  text-decoration: none;
  vertical-align: middle;
}


.pagination__item_active .pagination__link{

}