.pagination {
  display: inline-block;
  margin-left: 200px;
}


.pagination_item {
  color: grey;
  float: left;

  text-decoration: none;

}

.pagination__title {
 color: #bebdbd;
 display: inline-block;
}


.pagination__list {
 display: inline-flex;
vertical-align: middle;
}


.pagination__link {
  text-decoration: none;
 
  text-align: center;
  vertical-align: middle;
  font-size: 14x;
  color: black;
  transition: .3s;
  font-weight: bold;
  padding: 8px 12px;
}

.pagination__link:hover {
  color: #f89513;
  background-color: black;
  border-radius: 5px;
  width: 5px;
  height: 5px;
}

.pagination__btn_prev {
  font-size: 20px;
  text-decoration: none;
  vertical-align: middle;
  color: #bebdbd;
}

.pagination__btn_active {
  color: black;
}